mixin mainHeading ()
	-
		const data = {
			titleBig: "Здесь можно оплатить",
			titleSmall: "Узнайте, как оплатить",
			links: [
				{
					href: "javascript:void(0)",
					text: "Штрафы ГИБДД",
					anchor: "anchor01"
				},
				{
					href: "javascript:void(0)",
					text: "Судебные задолженности",
					anchor: "anchor02"
				},
				{
					href: "javascript:void(0)",
					text: "Налоги",
					anchor: "anchor03"
				},
				{
					href: "javascript:void(0)",
					text: "Услуги Росреестра",
					anchor: "anchor04"
				},
			],
			text: "и другие услуги"
		}
	section.main-heading
		.container.main-heading__container 
			h1.main-heading__title.title.title--h1.title--center
				span.main-heading__title_big=data.titleBig 
				span.main-heading__title_small=data.titleSmall
			nav.main-heading__nav 
				ul.main-heading__nav-list 
					each item, index in data.links
						li.main-heading__nav-list-item
							a.main-heading__nav-list-link(href=item.href data-scroll-to=item.anchor)=item.text
					li.main-heading__nav-list-item
						span.main-heading__nav-list-text=data.text